{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
    <main class="main">
        <div class="container mb-30">
            <div class="row flex-row-reverse">
                <div class="col-lg-4-5">
                    <section class="home-slider position-relative mb-30">
                        <div class="home-slide-cover mt-30">
                            <div class="hero-slider-1 style-4 dot-style-1 dot-style-1-position-1">
                                <div class="single-hero-slider single-animation-wrap"
                                     style="background-image: url('{% static 'assets/imgs/slider/slider-1.jpg' %}')">
                                    <div class="slider-content">
                                        <h1 class="display-2 mb-40" style="color: white;">
                                            Don’t miss amazing<br/> deals
                                        </h1>
                                    </div>
                                </div>
                                <div class="single-hero-slider single-animation-wrap"
                                     style="background-image: url('{% static 'assets/imgs/slider/slider-2.jpg' %}')" ;>
                                    <div class="slider-content">
                                        <h1 class="display-2 mb-40" style="color: white;">
                                            Newest Products<br/> Big discount
                                        </h1>
                                        <p class="mb-65 " style="color: white;">Save up to 50% off on your first
                                            order</p>
                                    </div>
                                </div>
                            </div>
                            <div class="slider-arrow hero-slider-1-arrow"></div>
                        </div>
                    </section>
                    <!--End hero-->
                    <section class="product-tabs section-padding position-relative">
                        <div class="section-title style-2">
                            <h3>Popular Products</h3>
                            <ul class="nav nav-tabs links" id="myTab" role="tablist">
                                {% for category in categories %}
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="nav-tab-one" data-bs-toggle="tab"
                                                data-bs-target="#tab-one" type="button" role="tab"
                                                aria-controls="tab-one"
                                                aria-selected="true">{{ category.title }}</button>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!--End nav-tabs-->
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="tab-one" role="tabpanel"
                                 aria-labelledby="tab-one">
                                <div class="row product-grid-4">

                                    {% for product in products %}
                                        <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                                            <div class="product-cart-wrap mb-30">
                                                <div class="product-img-action-wrap">
                                                    <div class="product-img product-img-zoom">
                                                        <a href="{% url 'core:product-detail' product.pid %}">
                                                            <img class="default-img" src="{{ product.image.url }}"
                                                                 alt=""
                                                                 style="height: 180px; width: 280px; object-fit: fill;"/>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="product-content-wrap">
                                                    <div class="product-category">
                                                        <a href="{% url 'core:category-product-list' product.category.cid %}">{{ product.category }}</a>
                                                    </div>
                                                    <h2>
                                                        <a href="{% url 'core:product-detail' product.pid %}">{{ product.title }}</a>
                                                    </h2>
                                                    <div class="product-rate-cover">
                                                        <div class="product-rate d-inline-block">
                                                            <div class="product-rating" style="width: 90%"></div>
                                                        </div>
                                                        <span class="font-small ml-5 text-muted"> (4.0)</span>
                                                    </div>
                                                    <div>
                                                        <span class="font-small text-muted">By <a
                                                                href="{% url 'core:vendor-detail' product.vendor.vid %}">{{ product.vendor }}</a></span>
                                                    </div>
                                                    <div class="product-price">
                                                        GHC<span
                                                            class="current-product-price-{{ product.id }}">{{ product.price }}</span>
                                                        <span class="old-price"
                                                              style="font-size: 11px;">GHC{{ product.old_price }}</span>
                                                    </div>
                                                    <div class="product-card-bottom">
                                                        <div class="add-cart">
                                                            <input type="hidden" value="1" id="product-quantity"
                                                                   class="product-quantity-{{ product.id }}">
                                                            <input type="hidden" value="{{ product.pid }}"
                                                                   class="product-pid-{{ product.id }}" id="">
                                                            <input type="hidden" class="product-image-{{ product.id }}"
                                                                   value="{{ product.image.url }}" id="">
                                                            <input type="hidden" class="product-id-{{ product.id }}"
                                                                   value="{{ product.id }}">
                                                            <input type="hidden" class="product-title-{{ product.id }}"
                                                                   value="{{ product.title }}">
                                                            <button class="add add-to-cart-btn" id="add-to-cart-btn"
                                                                    data-index="{{ product.id }}"><i
                                                                    class="fi-rs-shopping-cart mr-5"></i>Add
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}

                                    <!--end product card-->
                                </div>
                                <!--End product-grid-4-->
                            </div>

                        </div>
                        <!--End tab-content-->
                    </section>
                </div>
                <div class="col-lg-1-5 primary-sidebar sticky-sidebar pt-30">
                    <div class="sidebar-widget widget-category-2 mb-30">
                        <h5 class="section-title style-1 mb-30">Category</h5>
                        <ul>

                            {% for category in categories %}
                                <li>
                                    <a href="{% url 'core:category-product-list' category.cid %}"> <img
                                            src="{{ category.image.url }}" alt=""/>{{ category.title|truncatechars:40 }}
                                    </a><span class="count">{{ category.category.count }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <section class="popular-categories section-padding">
            <div class="container">
                <div class="section-title">
                    <div class="title">
                        <h3>Shop by Categories</h3>
                        <a class="show-all" href="{% url 'core:category-list' %}">
                            All Categories
                            <i class="fi-rs-angle-right"></i>
                        </a>
                    </div>
                    <div class="slider-arrow slider-arrow-2 flex-right carausel-8-columns-arrow"
                         id="carausel-8-columns-arrows"></div>
                </div>
                <div class="carausel-8-columns-cover position-relative">
                    <div class="carausel-8-columns" id="carausel-8-columns">
                        {% for category in categories %}
                            <div class="card-1">
                                <figure class="img-hover-scale overflow-hidden">
                                    <a href="{% url 'core:category-product-list' category.cid %}"><img
                                            src="{{ category.image.url }}" style="width: 80px; height: 100px;" alt=""/></a>
                                </figure>
                                <h6>
                                    <a href="{% url 'core:category-product-list' category.cid %}">{{ category.title|truncatechars:15|title }}</a>
                                </h6>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <!--End category slider-->
    </main>
{% endblock content %}
    